/* Väripaletti */
:root {
    --text-color: #2C2C2C;
    --background-color: #F4F4F4;
    --highlight-color: #007BFF;
    --button-color: #005A99;
}

/* Importoi fontit Google Fontsista */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Montserrat:wght@700&display=swap');

/* Yleiset tyylit */
body {
    font-family: 'Lato', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

/* Keskitetään kaikki h1, h2, h3 ja p-elementit */
h1, h2, h3, p {
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif; /* Käytetään Montserrat-otsikoille */
}

/* Header-tyylit */
header {
    background-color: var(--highlight-color);
    padding: 20px;
    text-align: center;
    color: white;
}

/* Navigointi */
nav {
    margin-top: 20px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: var(--highlight-color);
    margin: 0 15px;
    font-weight: bold;
    padding: 10px 20px; /* Lisää laatikkoa ympäröivä tila */
    border: 2px solid var(--highlight-color); /* Lisää laatikon reuna */
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Smooth transition for hover and active */
}

nav a:hover {
    background-color: var(--highlight-color);
    color: white;
}

nav a.active {
    background-color: var(--highlight-color);
    color: white;
}

/* Section-tyylit */
section {
    padding: 20px;
}

/* Yhteystiedot ja kartta */
.contact-info {
    text-align: center;
    margin-bottom: 20px;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* CTA-painike */
.cta-button {
    display: block;
    margin: 20px auto;
    background-color: var(--button-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.cta-button:hover {
    background-color: var(--highlight-color);
}

/* Footer */
footer {
    background-color: var(--highlight-color);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Sosiaalisen median kuvakkeet */
.social-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 10px;
    text-align: center;
    color: var(--background-color);
    background-color: var(--highlight-color);
    font-size: 20px;
    text-decoration: none;
    transition: opacity 0.3s ease;
    border-radius: 0px;
    border: 2px solid var(--highlight-color);
}

.social-button:hover {
    opacity: 0.7;
    background-color: var(--button-color);
}